#csvInput {
  height:0px;
  width:0px;
  	position: absolute;
}

body {
  margin:0px;
  font-family: Consolas,monaco,monospace;
}

#info {
	position: absolute;
	top: 10px;
  font-size:.75em;
  height:200px;
	width: 50%;
	text-align: left;
	z-index: 1;
	display:block;
  margin:0;
  padding:10px;
  color: #FFFFFF;
  font-family: Consolas,monaco,monospace;

}
#hyobyun {
	position: absolute;
	bottom: 0px;
  font-size:.75em;
	width: 100%;
	text-align: left;
	z-index: 1;
	display:block;
  margin:0;
  padding:10px;
  color: #FFFFFF;
  height:50px;
  font-family: Consolas,monaco,monospace;

}
#raytrace {
	position: absolute;
	top: 200px;
  font-size:.75em;
	width: 100%;
	text-align: left;
	z-index: 1;
	display:block;
  margin:0;
  padding:10px;
  color: #FFFFFF;
  font-family: Consolas,monaco,monospace;

}
a:link {
  color: #2288ff;
}

a:visited {
  color: #2288ff;

a:hover {
  color:  #44aaff;
}

a:active {
  color: #2288ff;
}

#info h1 {
  font-size:1.1em;
  margin:0px;
}

body .dg.ac {

	z-index: 100;

  font-family: Consolas,monaco,monospace;

}

.dg {

	z-index: 100;

  font-family: Consolas,monaco,monospace;

}
